/*
debug: env GTK_DEBUG=interactive ghostty
https://docs.gtk.org/gtk4/css-overview.html
https://docs.gtk.org/gtk4/css-properties.html
*/

tabbar,
tabbox {
    background-color: #000;
    font-family: monospace;
    min-height: 1px;
}

tab {
    color: #9ca3af;
    font-size: 13px;
    padding: 0;
}

tab:hover {
    background-color: #111;
}

tab:selected {
    background-color: #161616;
    color: #ffffff;
}
