/*
debug: env GTK_DEBUG=interactive ghostty
https://docs.gtk.org/gtk4/css-overview.html
https://docs.gtk.org/gtk4/css-properties.html
*/ 
@import url("noctalia.css");

@import url("noctalia.css");

tab,
tab:hover,
tab:selected,
tab:active {
    transition: none;
    animation: none;
}

tabbar,
tabbox {
    background-color: #000; /* fake transparency */
    min-height: 0px;
}

tab {
    padding: 0;
    background-color: #000;
    border: solid 1px alpha(@accent_color, 0.2);
    color: alpha(@accent_color, 0.4);
}

tab:hover,
tab:selected {
    border: solid 2px alpha(@accent_color, 0.4);
    background-color: #000;
    color: alpha(@accent_color, 0.8);
}

/* tab:active { */
/*     background-color: alpha(@accent_color, 0.1) */
/* } */
